 # Apply What You Learned in Bootcamp!

Tip: refer back to the workshop if needed for similar examples and google is your best friend :)
A lot of times, you won't know how to do something but there are a ton of online resources like the documentation of pandas methods or stackexchange posts by those who had similar questions like you.

**Before starting this drill, please make a COPY of this notebook and put in your folder that you created during Bootcamp. Refer to the Workshop 1 Spring 2022 Notebook for instructions on doing this.**

For each of the function headers, fill in the parts with "YOUR CODE HERE" keeping in mind the instructions provided to you in the comments. Test cases are provided to ensure that your functions work properly.

In [1]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [ ]:
%ls

 init.ipynb         'Workshop 2 Drill Spring 2022.ipynb'
 requirements.txt   'Workshop 2 Spring 2022.ipynb'
 titanic_train.csv

In [ ]:
#setup unit tests + configuration
!pip install ipytest

Collecting ipytest
  Downloading ipytest-0.12.0-py3-none-any.whl (15 kB)
Collecting pytest>=5.4
  Downloading pytest-7.1.3-py3-none-any.whl (298 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 298.2/298.2 KB 50.1 MB/s eta 0:00:00
Requirement already satisfied: packaging in /shared-libs/python3.9/py-core/lib/python3.9/site-packages (from ipytest) (21.3)
Requirement already satisfied: ipython in /shared-libs/python3.9/py-core/lib/python3.9/site-packages (from ipytest) (8.4.0)
Collecting tomli>=1.0.0
  Downloading tomli-2.0.1-py3-none-any.whl (12 kB)
Collecting iniconfig
  Downloading iniconfig-1.1.1-py2.py3-none-any.whl (5.0 kB)
Requirement already satisfied: attrs>=19.2.0 in /shared-libs/python3.9/py-core/lib/python3.9/site-packages (from pytest>=5.4->ipytest) (22.1.0)
Requirement already satisfied: pluggy<2.0,>=0.12 in /shared-libs/python3.9/py-core/lib/python3.9/site-packages (from pytest>=5.4->ipytest) (1.0.0)
Collecting py>=1.8.2
  Downloading py-1.11.0-py2.py3-none-any.whl (98 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.7/98.7 KB 30.6 MB/s eta 0:00:00
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /shared-libs/python3.9/py-core/lib/python3.9/site-packages (from ipython->ipytest) (3.0.30)
Requirement already satisfied: pickleshare in /shared-libs/python3.9/py-core/lib/python3.9/site-packages (from ipython->ipytest) (0.7.5)
Requirement already satisfied: backcall in /shared-libs/python3.9/py-core/lib/python3.9/site-packages (from ipython->ipytest) (0.2.0)
Requirement already satisfied: jedi>=0.16 in /shared-libs/python3.9/py-core/lib/python3.9/site-packages (from ipython->ipytest) (0.17.2)
Requirement already satisfied: traitlets>=5 in /shared-libs/python3.9/py-core/lib/python3.9/site-packages (from ipython->ipytest) (5.3.0)
Requirement already satisfied: pygments>=2.4.0 in /shared-libs/python3.9/py-core/lib/python3.9/site-packages (from ipython->ipytest) (2.12.0)
Requirement already satisfied: stack-data in /shared-libs/python3.9/py-core/lib/python3.9/site-packages (from ipython->ipytest) (0.3.0)
Requirement already satisfied: setuptools>=18.5 in /root/venv/lib/python3.9/site-packages (from ipython->ipytest) (58.1.0)
Requirement already satisfied: matplotlib-inline in /shared-libs/python3.9/py-core/lib/python3.9/site-packages (from ipython->ipytest) (0.1.3)
Requirement already satisfied: pexpect>4.3 in /shared-libs/python3.9/py-core/lib/python3.9/site-packages (from ipython->ipytest) (4.8.0)
Requirement already satisfied: decorator in /shared-libs/python3.9/py-core/lib/python3.9/site-packages (from ipython->ipytest) (5.1.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /shared-libs/python3.9/py-core/lib/python3.9/site-packages (from packaging->ipytest) (3.0.9)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /shared-libs/python3.9/py-core/lib/python3.9/site-packages (from jedi>=0.16->ipython->ipytest) (0.7.1)
Requirement already satisfied: ptyprocess>=0.5 in /shared-libs/python3.9/py-core/lib/python3.9/site-packages (from pexpect>4.3->ipython->ipytest) (0.7.0)
Requirement already satisfied: wcwidth in /shared-libs/python3.9/py-core/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipytest) (0.2.5)
Requirement already satisfied: executing in /shared-libs/python3.9/py-core/lib/python3.9/site-packages (from stack-data->ipython->ipytest) (0.9.1)
Requirement already satisfied: asttokens in /shared-libs/python3.9/py-core/lib/python3.9/site-packages (from stack-data->ipython->ipytest) (2.0.5)
Requirement already satisfied: pure-eval in /shared-libs/python3.9/py-core/lib/python3.9/site-packages (from stack-data->ipython->ipytest) (0.2.2)
Requirement already satisfied: six in /shared-libs/python3.9/py-core/lib/python3.9/site-packages (from asttokens->stack-data->ipython->ipytest) (1.16.0)
Installing collected packages: iniconfig, tomli, py, pytest, ipytest
Successfully installed iniconfig-1.1.1 ipytest-0.12.0 py-1.11.0 pytest-7.1.3 tomli-2.0.1
WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the '/root/venv/bin/python -m pip install --upgrade pip' command.

In [ ]:
import pytest
import ipytest
ipytest.autoconfig()

In [ ]:
df = pd.read_csv('titanic_train.csv')

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# Q1 
I want to find a dataframe that lists just the Age, Pclass, and Sex.


![image.png]()

In [ ]:
def get_age_class_sex(df):
  #YOUR CODE HERE
  raise NotImplementedError("Need to implement get_age_class_sex function")

In [ ]:

%%run_pytest
@pytest.mark.parametrize("dataset", [
    df,
    df.head(5),
    df.head(100),
    df.head(0)
])
def test_proper_columns_queried(dataset):
  res = get_age_class_sex(dataset)
  assert np.array_equal(list(res.columns), ["Age", "Pclass", "Sex"])
  assert res.shape[0] == dataset.shape[0]

....                                                                                         [100%]
4 passed in 0.07s
%%run_pytest[clean] and %%run_pytest are deprecated in favor of %%ipytest. %%ipytest will clean tests, evaluate the cell and then run pytest. To disable cleaning, configure ipytest with ipytest.config(clean=False).

# Q2

The df below contains the range of all ages. Suppose I want the same 3 features, but this time, I only want to see people above the age of 30. Ultimately I would like a visual of people over thirty, but let's just focus on getting a dataframe for now. 

![image.png]()

In [ ]:
def get_age_class_sex_over_30(df):
  #YOUR CODE HERE
  raise NotImplementedError("Need to implement get_age_class_sex_over_30")

In [ ]:
%%run_pytest
@pytest.mark.parametrize("dataset", [
    df,
    df.head(5),
    df.head(100),
    df.head(0)
])
def test_proper_entries_over_30(dataset):
  res = get_age_class_sex_over_30(dataset)
  cols = list(res.columns)
  assert len(cols) == len(["Age", "Pclass", "Sex"])
  assert "Age" in cols 
  assert "Pclass" in cols 
  assert "Sex" in cols 

  #assert res["Age"].min() > 30
  #assert res.shape[0] <= df.shape[0]

%%run_pytest[clean] and %%run_pytest are deprecated in favor of %%ipytest. %%ipytest will clean tests, evaluate the cell and then run pytest. To disable cleaning, configure ipytest with ipytest.config(clean=False).
........                                                                                     [100%]
8 passed in 0.08s

# Q3 
I want to access the data of the 100th person, how would I do that?

In [ ]:
def get_100th_person_info(df):
  #YOUR CODE HERE
  raise NotImplementedError("Need to implement get_100th_person_info() function")

In [ ]:
%%run_pytest
@pytest.mark.parametrize("dataset", [
    df
])
def test_100th_row_info(dataset):
  res = get_100th_person_info(dataset)
  assert res["PassengerId"] == 100
  assert res["Survived"] == 0
  assert res["Pclass"] == 2
  assert res["Name"] == "Kantor, Mr. Sinai"
  assert res["Sex"] == "male"
  assert res["Age"] == 34
  assert res["SibSp"] == 1
  assert res["Parch"] == 0
  assert res["Ticket"] == "244367"
  assert res["Fare"] == 26
  assert res["Embarked"] == "S"

%%run_pytest[clean] and %%run_pytest are deprecated in favor of %%ipytest. %%ipytest will clean tests, evaluate the cell and then run pytest. To disable cleaning, configure ipytest with ipytest.config(clean=False).
.........                                                                                    [100%]
9 passed in 0.08s

# Q4 
Time to go back to the main dataframe, I would like to see how many unique ages there were, what function can I use to find that?

In [ ]:
def calc_num_unique_ages(df):
  # YOUR CODE HERE
  raise NotImplementedError("Need to implement calc_num_unique_ages()")

In [ ]:
%%run_pytest
@pytest.mark.parametrize("dataset, expected", [
    (df, 89),
    (df.head(5), 4),
    (df.head(0), 0),
    (df.head(100), 46)
])
def test_num_unique_ages(dataset, expected):
  assert calc_num_unique_ages(dataset) == expected

....%%run_pytest[clean] and %%run_pytest are deprecated in favor of %%ipytest. %%ipytest will clean tests, evaluate the cell and then run pytest. To disable cleaning, configure ipytest with ipytest.config(clean=False).
.....F..F                                                                                [100%]
============================================= FAILURES =============================================
________________________________ test_num_unique_ages[dataset0-89] _________________________________

dataset =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]
expected = 89

    @pytest.mark.parametrize("dataset, expected", [
        (df, 89),
        (df.head(5), 4),
        (df.head(0), 0),
        (df.head(100), 46)
    ])
    def test_num_unique_ages(dataset, expected):
>     assert calc_num_unique_ages(dataset) == expected
E     assert 88 == 89
E      +  where 88 = calc_num_unique_ages(     PassengerId  Survived  Pclass  \\n0              1         0       3   \n1              2         1       1   \n2   ...       111369  30.0000  C148        C  \n890      0            370376   7.7500   NaN        Q  \n\n[891 rows x 12 columns])

/tmp/ipykernel_92/3532723836.py:8: AssertionError
________________________________ test_num_unique_ages[dataset3-46] _________________________________

dataset =     PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2      ...  231919  23.0000      NaN        S
99      0            244367  26.0000      NaN        S

[100 rows x 12 columns]
expected = 46

    @pytest.mark.parametrize("dataset, expected", [
        (df, 89),
        (df.head(5), 4),
        (df.head(0), 0),
        (df.head(100), 46)
    ])
    def test_num_unique_ages(dataset, expected):
>     assert calc_num_unique_ages(dataset) == expected
E     assert 45 == 46
E      +  where 45 = calc_num_unique_ages(    PassengerId  Survived  Pclass  \\n0             1         0       3   \n1             2         1       1   \n2      ...  231919  23.0000      NaN        S  \n99      0            244367  26.0000      NaN        S  \n\n[100 rows x 12 columns])

/tmp/ipykernel_92/3532723836.py:8: AssertionError
===================================== short test summary info ======================================
FAILED tmpgn1avwr_.py::test_num_unique_ages[dataset0-89] - assert 88 == 89
FAILED tmpgn1avwr_.py::test_num_unique_ages[dataset3-46] - assert 45 == 46
2 failed, 11 passed in 0.19s

# Q5
I was going through the dataframe and noticed cabin had a lot of null values, how can I see how many null values there are?
While I'm at it, let me see how big this dataframe is as a whole.

In [ ]:
def get_cabin_nulls_and_shape(df):
  #YOUR CODE HERE
  """
  This function should return a tuple of the form (number of null values in Cabin column, how many rows in the dataframe)
  """
  raise NotImplementedError("Need to implement get_cabin_nulls_and_shapes()")

In [ ]:
%%run_pytest
@pytest.mark.parametrize("dataset, expected", [
    (df, (687, 891)),
    (df.head(5), (3,5)),
    (df.head(0), (0, 0)),
])
def test_cabin_nulls_shape(dataset, expected):
  assert get_cabin_nulls_and_shape(dataset)[0] == expected[0]
  assert get_cabin_nulls_and_shape(dataset)[1] == expected[1]

%%run_pytest[clean] and %%run_pytest are deprecated in favor of %%ipytest. %%ipytest will clean tests, evaluate the cell and then run pytest. To disable cleaning, configure ipytest with ipytest.config(clean=False).
FFFFFFFFFFFFFFFF                                                                             [100%]
============================================= FAILURES =============================================
______________________________ test_proper_columns_queried[dataset0] _______________________________

dataset =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_proper_columns_queried(dataset):
>     res = get_age_class_sex(dataset)

<ipython-input-8-cc4483f5ffbf>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    def get_age_class_sex(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_age_class_sex function")
E     NotImplementedError: Need to implement get_age_class_sex function

<ipython-input-7-89f03d2c21ae>:3: NotImplementedError
______________________________ test_proper_columns_queried[dataset1] _______________________________

dataset =    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2         ...aN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_proper_columns_queried(dataset):
>     res = get_age_class_sex(dataset)

<ipython-input-8-cc4483f5ffbf>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2         ...aN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

    def get_age_class_sex(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_age_class_sex function")
E     NotImplementedError: Need to implement get_age_class_sex function

<ipython-input-7-89f03d2c21ae>:3: NotImplementedError
______________________________ test_proper_columns_queried[dataset2] _______________________________

dataset =     PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2      ...  231919  23.0000      NaN        S
99      0            244367  26.0000      NaN        S

[100 rows x 12 columns]

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_proper_columns_queried(dataset):
>     res = get_age_class_sex(dataset)

<ipython-input-8-cc4483f5ffbf>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =     PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2      ...  231919  23.0000      NaN        S
99      0            244367  26.0000      NaN        S

[100 rows x 12 columns]

    def get_age_class_sex(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_age_class_sex function")
E     NotImplementedError: Need to implement get_age_class_sex function

<ipython-input-7-89f03d2c21ae>:3: NotImplementedError
______________________________ test_proper_columns_queried[dataset3] _______________________________

dataset = Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_proper_columns_queried(dataset):
>     res = get_age_class_sex(dataset)

<ipython-input-8-cc4483f5ffbf>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df = Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

    def get_age_class_sex(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_age_class_sex function")
E     NotImplementedError: Need to implement get_age_class_sex function

<ipython-input-7-89f03d2c21ae>:3: NotImplementedError
______________________________ test_proper_entries_over_30[dataset0] _______________________________

dataset =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_proper_entries_over_30(dataset):
>     res = get_age_class_sex_over_30(dataset)

<ipython-input-10-e57d0f4bab00>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    def get_age_class_sex_over_30(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_age_class_sex_over_30")
E     NotImplementedError: Need to implement get_age_class_sex_over_30

<ipython-input-9-94cb142f99a3>:3: NotImplementedError
______________________________ test_proper_entries_over_30[dataset1] _______________________________

dataset =    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2         ...aN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_proper_entries_over_30(dataset):
>     res = get_age_class_sex_over_30(dataset)

<ipython-input-10-e57d0f4bab00>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2         ...aN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

    def get_age_class_sex_over_30(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_age_class_sex_over_30")
E     NotImplementedError: Need to implement get_age_class_sex_over_30

<ipython-input-9-94cb142f99a3>:3: NotImplementedError
______________________________ test_proper_entries_over_30[dataset2] _______________________________

dataset =     PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2      ...  231919  23.0000      NaN        S
99      0            244367  26.0000      NaN        S

[100 rows x 12 columns]

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_proper_entries_over_30(dataset):
>     res = get_age_class_sex_over_30(dataset)

<ipython-input-10-e57d0f4bab00>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =     PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2      ...  231919  23.0000      NaN        S
99      0            244367  26.0000      NaN        S

[100 rows x 12 columns]

    def get_age_class_sex_over_30(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_age_class_sex_over_30")
E     NotImplementedError: Need to implement get_age_class_sex_over_30

<ipython-input-9-94cb142f99a3>:3: NotImplementedError
______________________________ test_proper_entries_over_30[dataset3] _______________________________

dataset = Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_proper_entries_over_30(dataset):
>     res = get_age_class_sex_over_30(dataset)

<ipython-input-10-e57d0f4bab00>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df = Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

    def get_age_class_sex_over_30(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_age_class_sex_over_30")
E     NotImplementedError: Need to implement get_age_class_sex_over_30

<ipython-input-9-94cb142f99a3>:3: NotImplementedError
__________________________________ test_100th_row_info[dataset0] ___________________________________

dataset =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    @pytest.mark.parametrize("dataset", [
        df
    ])
    def test_100th_row_info(dataset):
>     res = get_100th_person_info(dataset)

<ipython-input-12-eb3256b474c4>:5:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    def get_100th_person_info(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_100th_person_info() function")
E     NotImplementedError: Need to implement get_100th_person_info() function

<ipython-input-11-3464390bcbf6>:3: NotImplementedError
________________________________ test_num_unique_ages[dataset0-89] _________________________________

dataset =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]
expected = 89

    @pytest.mark.parametrize("dataset, expected", [
        (df, 89),
        (df.head(5), 4),
        (df.head(0), 0),
        (df.head(100), 46)
    ])
    def test_num_unique_ages(dataset, expected):
>     assert calc_num_unique_ages(dataset) == expected

<ipython-input-14-8ad746d1a232>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    def calc_num_unique_ages(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement calc_num_unique_ages()")
E     NotImplementedError: Need to implement calc_num_unique_ages()

<ipython-input-13-8544e645a55c>:3: NotImplementedError
_________________________________ test_num_unique_ages[dataset1-4] _________________________________

dataset =    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2         ...aN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
expected = 4

    @pytest.mark.parametrize("dataset, expected", [
        (df, 89),
        (df.head(5), 4),
        (df.head(0), 0),
        (df.head(100), 46)
    ])
    def test_num_unique_ages(dataset, expected):
>     assert calc_num_unique_ages(dataset) == expected

<ipython-input-14-8ad746d1a232>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2         ...aN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

    def calc_num_unique_ages(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement calc_num_unique_ages()")
E     NotImplementedError: Need to implement calc_num_unique_ages()

<ipython-input-13-8544e645a55c>:3: NotImplementedError
_________________________________ test_num_unique_ages[dataset2-0] _________________________________

dataset = Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []
expected = 0

    @pytest.mark.parametrize("dataset, expected", [
        (df, 89),
        (df.head(5), 4),
        (df.head(0), 0),
        (df.head(100), 46)
    ])
    def test_num_unique_ages(dataset, expected):
>     assert calc_num_unique_ages(dataset) == expected

<ipython-input-14-8ad746d1a232>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df = Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

    def calc_num_unique_ages(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement calc_num_unique_ages()")
E     NotImplementedError: Need to implement calc_num_unique_ages()

<ipython-input-13-8544e645a55c>:3: NotImplementedError
________________________________ test_num_unique_ages[dataset3-46] _________________________________

dataset =     PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2      ...  231919  23.0000      NaN        S
99      0            244367  26.0000      NaN        S

[100 rows x 12 columns]
expected = 46

    @pytest.mark.parametrize("dataset, expected", [
        (df, 89),
        (df.head(5), 4),
        (df.head(0), 0),
        (df.head(100), 46)
    ])
    def test_num_unique_ages(dataset, expected):
>     assert calc_num_unique_ages(dataset) == expected

<ipython-input-14-8ad746d1a232>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =     PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2      ...  231919  23.0000      NaN        S
99      0            244367  26.0000      NaN        S

[100 rows x 12 columns]

    def calc_num_unique_ages(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement calc_num_unique_ages()")
E     NotImplementedError: Need to implement calc_num_unique_ages()

<ipython-input-13-8544e645a55c>:3: NotImplementedError
____________________________ test_cabin_nulls_shape[dataset0-expected0] ____________________________

dataset =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]
expected = (687, 891)

    @pytest.mark.parametrize("dataset, expected", [
        (df, (687, 891)),
        (df.head(5), (3,5)),
        (df.head(0), (0, 0)),
    ])
    def test_cabin_nulls_shape(dataset, expected):
>     assert get_cabin_nulls_and_shape(dataset)[0] == expected[0]

<ipython-input-16-8774761a2438>:7:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    def get_cabin_nulls_and_shape(df):
      #YOUR CODE HERE
      """
      This function should return a tuple of the form (number of null values in Cabin column, how many rows in the dataframe)
      """
>     raise NotImplementedError("Need to implement get_cabin_nulls_and_shapes()")
E     NotImplementedError: Need to implement get_cabin_nulls_and_shapes()

<ipython-input-15-8840c0278300>:6: NotImplementedError
____________________________ test_cabin_nulls_shape[dataset1-expected1] ____________________________

dataset =    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2         ...aN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
expected = (3, 5)

    @pytest.mark.parametrize("dataset, expected", [
        (df, (687, 891)),
        (df.head(5), (3,5)),
        (df.head(0), (0, 0)),
    ])
    def test_cabin_nulls_shape(dataset, expected):
>     assert get_cabin_nulls_and_shape(dataset)[0] == expected[0]

<ipython-input-16-8774761a2438>:7:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2         ...aN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

    def get_cabin_nulls_and_shape(df):
      #YOUR CODE HERE
      """
      This function should return a tuple of the form (number of null values in Cabin column, how many rows in the dataframe)
      """
>     raise NotImplementedError("Need to implement get_cabin_nulls_and_shapes()")
E     NotImplementedError: Need to implement get_cabin_nulls_and_shapes()

<ipython-input-15-8840c0278300>:6: NotImplementedError
____________________________ test_cabin_nulls_shape[dataset2-expected2] ____________________________

dataset = Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []
expected = (0, 0)

    @pytest.mark.parametrize("dataset, expected", [
        (df, (687, 891)),
        (df.head(5), (3,5)),
        (df.head(0), (0, 0)),
    ])
    def test_cabin_nulls_shape(dataset, expected):
>     assert get_cabin_nulls_and_shape(dataset)[0] == expected[0]

<ipython-input-16-8774761a2438>:7:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df = Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

    def get_cabin_nulls_and_shape(df):
      #YOUR CODE HERE
      """
      This function should return a tuple of the form (number of null values in Cabin column, how many rows in the dataframe)
      """
>     raise NotImplementedError("Need to implement get_cabin_nulls_and_shapes()")
E     NotImplementedError: Need to implement get_cabin_nulls_and_shapes()

<ipython-input-15-8840c0278300>:6: NotImplementedError
===================================== short test summary info ======================================
FAILED tmphshbo0sd.py::test_proper_columns_queried[dataset0] - NotImplementedError: Need to imple...
FAILED tmphshbo0sd.py::test_proper_columns_queried[dataset1] - NotImplementedError: Need to imple...
FAILED tmphshbo0sd.py::test_proper_columns_queried[dataset2] - NotImplementedError: Need to imple...
FAILED tmphshbo0sd.py::test_proper_columns_queried[dataset3] - NotImplementedError: Need to imple...

# Q6
That's a lot of missing values? It's probably best to just drop this. How do I drop a column?

In [ ]:
#workspace, scroll for solution
def drop_cabin_col(df):
  #YOUR CODE HERE
  """
  The Cabin column seems to have a lot of missing values. Drop this column and return the resulting dataframe
  """
  raise NotImplementedError("Need to implement drop_cabin_col() function")

In [ ]:
%%run_pytest
@pytest.mark.parametrize("dataset", [
    df,
    df.head(5),
    df.head(100),
    df.head(0)
])
def test_drop_cabin_col(dataset):
  filtered = drop_cabin_col(dataset)
  assert "Cabin" not in list(filtered.columns)
  assert len(list(filtered.columns)) == len(list(dataset.columns)) - 1
  assert filtered.shape[0] == dataset.shape[0]

%%run_pytest[clean] and %%run_pytest are deprecated in favor of %%ipytest. %%ipytest will clean tests, evaluate the cell and then run pytest. To disable cleaning, configure ipytest with ipytest.config(clean=False).
FFFFFFFFFFFFFFFFFFFF                                                                         [100%]
============================================= FAILURES =============================================
______________________________ test_proper_columns_queried[dataset0] _______________________________

dataset =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_proper_columns_queried(dataset):
>     res = get_age_class_sex(dataset)

<ipython-input-8-cc4483f5ffbf>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    def get_age_class_sex(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_age_class_sex function")
E     NotImplementedError: Need to implement get_age_class_sex function

<ipython-input-7-89f03d2c21ae>:3: NotImplementedError
______________________________ test_proper_columns_queried[dataset1] _______________________________

dataset =    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2         ...aN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_proper_columns_queried(dataset):
>     res = get_age_class_sex(dataset)

<ipython-input-8-cc4483f5ffbf>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2         ...aN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

    def get_age_class_sex(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_age_class_sex function")
E     NotImplementedError: Need to implement get_age_class_sex function

<ipython-input-7-89f03d2c21ae>:3: NotImplementedError
______________________________ test_proper_columns_queried[dataset2] _______________________________

dataset =     PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2      ...  231919  23.0000      NaN        S
99      0            244367  26.0000      NaN        S

[100 rows x 12 columns]

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_proper_columns_queried(dataset):
>     res = get_age_class_sex(dataset)

<ipython-input-8-cc4483f5ffbf>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =     PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2      ...  231919  23.0000      NaN        S
99      0            244367  26.0000      NaN        S

[100 rows x 12 columns]

    def get_age_class_sex(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_age_class_sex function")
E     NotImplementedError: Need to implement get_age_class_sex function

<ipython-input-7-89f03d2c21ae>:3: NotImplementedError
______________________________ test_proper_columns_queried[dataset3] _______________________________

dataset = Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_proper_columns_queried(dataset):
>     res = get_age_class_sex(dataset)

<ipython-input-8-cc4483f5ffbf>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df = Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

    def get_age_class_sex(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_age_class_sex function")
E     NotImplementedError: Need to implement get_age_class_sex function

<ipython-input-7-89f03d2c21ae>:3: NotImplementedError
______________________________ test_proper_entries_over_30[dataset0] _______________________________

dataset =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_proper_entries_over_30(dataset):
>     res = get_age_class_sex_over_30(dataset)

<ipython-input-10-e57d0f4bab00>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    def get_age_class_sex_over_30(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_age_class_sex_over_30")
E     NotImplementedError: Need to implement get_age_class_sex_over_30

<ipython-input-9-94cb142f99a3>:3: NotImplementedError
______________________________ test_proper_entries_over_30[dataset1] _______________________________

dataset =    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2         ...aN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_proper_entries_over_30(dataset):
>     res = get_age_class_sex_over_30(dataset)

<ipython-input-10-e57d0f4bab00>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2         ...aN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

    def get_age_class_sex_over_30(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_age_class_sex_over_30")
E     NotImplementedError: Need to implement get_age_class_sex_over_30

<ipython-input-9-94cb142f99a3>:3: NotImplementedError
______________________________ test_proper_entries_over_30[dataset2] _______________________________

dataset =     PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2      ...  231919  23.0000      NaN        S
99      0            244367  26.0000      NaN        S

[100 rows x 12 columns]

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_proper_entries_over_30(dataset):
>     res = get_age_class_sex_over_30(dataset)

<ipython-input-10-e57d0f4bab00>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =     PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2      ...  231919  23.0000      NaN        S
99      0            244367  26.0000      NaN        S

[100 rows x 12 columns]

    def get_age_class_sex_over_30(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_age_class_sex_over_30")
E     NotImplementedError: Need to implement get_age_class_sex_over_30

<ipython-input-9-94cb142f99a3>:3: NotImplementedError
______________________________ test_proper_entries_over_30[dataset3] _______________________________

dataset = Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_proper_entries_over_30(dataset):
>     res = get_age_class_sex_over_30(dataset)

<ipython-input-10-e57d0f4bab00>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df = Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

    def get_age_class_sex_over_30(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_age_class_sex_over_30")
E     NotImplementedError: Need to implement get_age_class_sex_over_30

<ipython-input-9-94cb142f99a3>:3: NotImplementedError
__________________________________ test_100th_row_info[dataset0] ___________________________________

dataset =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    @pytest.mark.parametrize("dataset", [
        df
    ])
    def test_100th_row_info(dataset):
>     res = get_100th_person_info(dataset)

<ipython-input-12-eb3256b474c4>:5:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    def get_100th_person_info(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_100th_person_info() function")
E     NotImplementedError: Need to implement get_100th_person_info() function

<ipython-input-11-3464390bcbf6>:3: NotImplementedError
________________________________ test_num_unique_ages[dataset0-89] _________________________________

dataset =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]
expected = 89

    @pytest.mark.parametrize("dataset, expected", [
        (df, 89),
        (df.head(5), 4),
        (df.head(0), 0),
        (df.head(100), 46)
    ])
    def test_num_unique_ages(dataset, expected):
>     assert calc_num_unique_ages(dataset) == expected

<ipython-input-14-8ad746d1a232>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    def calc_num_unique_ages(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement calc_num_unique_ages()")
E     NotImplementedError: Need to implement calc_num_unique_ages()

<ipython-input-13-8544e645a55c>:3: NotImplementedError
_________________________________ test_num_unique_ages[dataset1-4] _________________________________

dataset =    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2         ...aN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
expected = 4

    @pytest.mark.parametrize("dataset, expected", [
        (df, 89),
        (df.head(5), 4),
        (df.head(0), 0),
        (df.head(100), 46)
    ])
    def test_num_unique_ages(dataset, expected):
>     assert calc_num_unique_ages(dataset) == expected

<ipython-input-14-8ad746d1a232>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2         ...aN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

    def calc_num_unique_ages(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement calc_num_unique_ages()")
E     NotImplementedError: Need to implement calc_num_unique_ages()

<ipython-input-13-8544e645a55c>:3: NotImplementedError
_________________________________ test_num_unique_ages[dataset2-0] _________________________________

dataset = Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []
expected = 0

    @pytest.mark.parametrize("dataset, expected", [
        (df, 89),
        (df.head(5), 4),
        (df.head(0), 0),
        (df.head(100), 46)
    ])
    def test_num_unique_ages(dataset, expected):
>     assert calc_num_unique_ages(dataset) == expected

<ipython-input-14-8ad746d1a232>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df = Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

    def calc_num_unique_ages(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement calc_num_unique_ages()")
E     NotImplementedError: Need to implement calc_num_unique_ages()

<ipython-input-13-8544e645a55c>:3: NotImplementedError
________________________________ test_num_unique_ages[dataset3-46] _________________________________

dataset =     PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2      ...  231919  23.0000      NaN        S
99      0            244367  26.0000      NaN        S

[100 rows x 12 columns]
expected = 46

    @pytest.mark.parametrize("dataset, expected", [
        (df, 89),
        (df.head(5), 4),
        (df.head(0), 0),
        (df.head(100), 46)
    ])
    def test_num_unique_ages(dataset, expected):
>     assert calc_num_unique_ages(dataset) == expected

<ipython-input-14-8ad746d1a232>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =     PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2      ...  231919  23.0000      NaN        S
99      0            244367  26.0000      NaN        S

[100 rows x 12 columns]

    def calc_num_unique_ages(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement calc_num_unique_ages()")
E     NotImplementedError: Need to implement calc_num_unique_ages()

<ipython-input-13-8544e645a55c>:3: NotImplementedError
____________________________ test_cabin_nulls_shape[dataset0-expected0] ____________________________

dataset =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]
expected = (687, 891)

    @pytest.mark.parametrize("dataset, expected", [
        (df, (687, 891)),
        (df.head(5), (3,5)),
        (df.head(0), (0, 0)),
    ])
    def test_cabin_nulls_shape(dataset, expected):
>     assert get_cabin_nulls_and_shape(dataset)[0] == expected[0]

<ipython-input-16-8774761a2438>:7:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    def get_cabin_nulls_and_shape(df):
      #YOUR CODE HERE
      """
      This function should return a tuple of the form (number of null values in Cabin column, how many rows in the dataframe)
      """
>     raise NotImplementedError("Need to implement get_cabin_nulls_and_shapes()")
E     NotImplementedError: Need to implement get_cabin_nulls_and_shapes()

<ipython-input-15-8840c0278300>:6: NotImplementedError
____________________________ test_cabin_nulls_shape[dataset1-expected1] ____________________________

dataset =    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2         ...aN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
expected = (3, 5)

    @pytest.mark.parametrize("dataset, expected", [
        (df, (687, 891)),
        (df.head(5), (3,5)),
        (df.head(0), (0, 0)),
    ])
    def test_cabin_nulls_shape(dataset, expected):
>     assert get_cabin_nulls_and_shape(dataset)[0] == expected[0]

<ipython-input-16-8774761a2438>:7:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2         ...aN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

    def get_cabin_nulls_and_shape(df):
      #YOUR CODE HERE
      """
      This function should return a tuple of the form (number of null values in Cabin column, how many rows in the dataframe)
      """
>     raise NotImplementedError("Need to implement get_cabin_nulls_and_shapes()")
E     NotImplementedError: Need to implement get_cabin_nulls_and_shapes()

<ipython-input-15-8840c0278300>:6: NotImplementedError
____________________________ test_cabin_nulls_shape[dataset2-expected2] ____________________________

dataset = Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []
expected = (0, 0)

    @pytest.mark.parametrize("dataset, expected", [
        (df, (687, 891)),
        (df.head(5), (3,5)),
        (df.head(0), (0, 0)),
    ])
    def test_cabin_nulls_shape(dataset, expected):
>     assert get_cabin_nulls_and_shape(dataset)[0] == expected[0]

<ipython-input-16-8774761a2438>:7:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df = Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

    def get_cabin_nulls_and_shape(df):
      #YOUR CODE HERE
      """
      This function should return a tuple of the form (number of null values in Cabin column, how many rows in the dataframe)
      """
>     raise NotImplementedError("Need to implement get_cabin_nulls_and_shapes()")
E     NotImplementedError: Need to implement get_cabin_nulls_and_shapes()

<ipython-input-15-8840c0278300>:6: NotImplementedError
__________________________________ test_drop_cabin_col[dataset0] ___________________________________

dataset =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_drop_cabin_col(dataset):

# Q7
I want to see the distribution of people that survived within each class.


Heads up, this is a little more coding heavy. You'll need to put some thought in this!

In [ ]:
#workspace, scroll for solution
def survived_within_class(df):
  #YOUR CODE HERE
  """
  For each Pclass, return the proportion of people who survived. Round answer to nearest 3 decimal places

  Return tuple in the format (Pclass 1 survival proportion, Pclass 2 survival proportion, Pclass 3 survival proportion)

  If there is a ZeroDivisionError, return (-1,-1,-1)
  """
  raise NotImplementedError("Need to implement survived_within_class()")

In [ ]:
%%run_pytest
@pytest.mark.parametrize("dataset, expected", [
    (df, (0.630, 0.473, 0.242)),
    (df.head(100), (0.476, 0.667, 0.311)),
    (df.head(5), (-1,-1,-1)),
    (df.head(0), (-1,-1,-1))
])
def test_survived_within_class(dataset, expected):
  assert survived_within_class(dataset)[0] == expected[0]
  assert survived_within_class(dataset)[1] == expected[1]
  assert survived_within_class(dataset)[2] == expected[2]

%%run_pytest[clean] and %%run_pytest are deprecated in favor of %%ipytest. %%ipytest will clean tests, evaluate the cell and then run pytest. To disable cleaning, configure ipytest with ipytest.config(clean=False).
FFFFFFFFFFFFFFFFFFFFFFFF                                                                     [100%]
============================================= FAILURES =============================================
______________________________ test_proper_columns_queried[dataset0] _______________________________

dataset =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_proper_columns_queried(dataset):
>     res = get_age_class_sex(dataset)

<ipython-input-8-cc4483f5ffbf>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    def get_age_class_sex(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_age_class_sex function")
E     NotImplementedError: Need to implement get_age_class_sex function

<ipython-input-7-89f03d2c21ae>:3: NotImplementedError
______________________________ test_proper_columns_queried[dataset1] _______________________________

dataset =    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2         ...aN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_proper_columns_queried(dataset):
>     res = get_age_class_sex(dataset)

<ipython-input-8-cc4483f5ffbf>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2         ...aN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

    def get_age_class_sex(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_age_class_sex function")
E     NotImplementedError: Need to implement get_age_class_sex function

<ipython-input-7-89f03d2c21ae>:3: NotImplementedError
______________________________ test_proper_columns_queried[dataset2] _______________________________

dataset =     PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2      ...  231919  23.0000      NaN        S
99      0            244367  26.0000      NaN        S

[100 rows x 12 columns]

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_proper_columns_queried(dataset):
>     res = get_age_class_sex(dataset)

<ipython-input-8-cc4483f5ffbf>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =     PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2      ...  231919  23.0000      NaN        S
99      0            244367  26.0000      NaN        S

[100 rows x 12 columns]

    def get_age_class_sex(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_age_class_sex function")
E     NotImplementedError: Need to implement get_age_class_sex function

<ipython-input-7-89f03d2c21ae>:3: NotImplementedError
______________________________ test_proper_columns_queried[dataset3] _______________________________

dataset = Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_proper_columns_queried(dataset):
>     res = get_age_class_sex(dataset)

<ipython-input-8-cc4483f5ffbf>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df = Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

    def get_age_class_sex(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_age_class_sex function")
E     NotImplementedError: Need to implement get_age_class_sex function

<ipython-input-7-89f03d2c21ae>:3: NotImplementedError
______________________________ test_proper_entries_over_30[dataset0] _______________________________

dataset =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_proper_entries_over_30(dataset):
>     res = get_age_class_sex_over_30(dataset)

<ipython-input-10-e57d0f4bab00>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    def get_age_class_sex_over_30(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_age_class_sex_over_30")
E     NotImplementedError: Need to implement get_age_class_sex_over_30

<ipython-input-9-94cb142f99a3>:3: NotImplementedError
______________________________ test_proper_entries_over_30[dataset1] _______________________________

dataset =    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2         ...aN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_proper_entries_over_30(dataset):
>     res = get_age_class_sex_over_30(dataset)

<ipython-input-10-e57d0f4bab00>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2         ...aN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

    def get_age_class_sex_over_30(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_age_class_sex_over_30")
E     NotImplementedError: Need to implement get_age_class_sex_over_30

<ipython-input-9-94cb142f99a3>:3: NotImplementedError
______________________________ test_proper_entries_over_30[dataset2] _______________________________

dataset =     PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2      ...  231919  23.0000      NaN        S
99      0            244367  26.0000      NaN        S

[100 rows x 12 columns]

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_proper_entries_over_30(dataset):
>     res = get_age_class_sex_over_30(dataset)

<ipython-input-10-e57d0f4bab00>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =     PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2      ...  231919  23.0000      NaN        S
99      0            244367  26.0000      NaN        S

[100 rows x 12 columns]

    def get_age_class_sex_over_30(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_age_class_sex_over_30")
E     NotImplementedError: Need to implement get_age_class_sex_over_30

<ipython-input-9-94cb142f99a3>:3: NotImplementedError
______________________________ test_proper_entries_over_30[dataset3] _______________________________

dataset = Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_proper_entries_over_30(dataset):
>     res = get_age_class_sex_over_30(dataset)

<ipython-input-10-e57d0f4bab00>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df = Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

    def get_age_class_sex_over_30(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_age_class_sex_over_30")
E     NotImplementedError: Need to implement get_age_class_sex_over_30

<ipython-input-9-94cb142f99a3>:3: NotImplementedError
__________________________________ test_100th_row_info[dataset0] ___________________________________

dataset =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    @pytest.mark.parametrize("dataset", [
        df
    ])
    def test_100th_row_info(dataset):
>     res = get_100th_person_info(dataset)

<ipython-input-12-eb3256b474c4>:5:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    def get_100th_person_info(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement get_100th_person_info() function")
E     NotImplementedError: Need to implement get_100th_person_info() function

<ipython-input-11-3464390bcbf6>:3: NotImplementedError
________________________________ test_num_unique_ages[dataset0-89] _________________________________

dataset =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]
expected = 89

    @pytest.mark.parametrize("dataset, expected", [
        (df, 89),
        (df.head(5), 4),
        (df.head(0), 0),
        (df.head(100), 46)
    ])
    def test_num_unique_ages(dataset, expected):
>     assert calc_num_unique_ages(dataset) == expected

<ipython-input-14-8ad746d1a232>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    def calc_num_unique_ages(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement calc_num_unique_ages()")
E     NotImplementedError: Need to implement calc_num_unique_ages()

<ipython-input-13-8544e645a55c>:3: NotImplementedError
_________________________________ test_num_unique_ages[dataset1-4] _________________________________

dataset =    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2         ...aN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
expected = 4

    @pytest.mark.parametrize("dataset, expected", [
        (df, 89),
        (df.head(5), 4),
        (df.head(0), 0),
        (df.head(100), 46)
    ])
    def test_num_unique_ages(dataset, expected):
>     assert calc_num_unique_ages(dataset) == expected

<ipython-input-14-8ad746d1a232>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2         ...aN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

    def calc_num_unique_ages(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement calc_num_unique_ages()")
E     NotImplementedError: Need to implement calc_num_unique_ages()

<ipython-input-13-8544e645a55c>:3: NotImplementedError
_________________________________ test_num_unique_ages[dataset2-0] _________________________________

dataset = Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []
expected = 0

    @pytest.mark.parametrize("dataset, expected", [
        (df, 89),
        (df.head(5), 4),
        (df.head(0), 0),
        (df.head(100), 46)
    ])
    def test_num_unique_ages(dataset, expected):
>     assert calc_num_unique_ages(dataset) == expected

<ipython-input-14-8ad746d1a232>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df = Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

    def calc_num_unique_ages(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement calc_num_unique_ages()")
E     NotImplementedError: Need to implement calc_num_unique_ages()

<ipython-input-13-8544e645a55c>:3: NotImplementedError
________________________________ test_num_unique_ages[dataset3-46] _________________________________

dataset =     PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2      ...  231919  23.0000      NaN        S
99      0            244367  26.0000      NaN        S

[100 rows x 12 columns]
expected = 46

    @pytest.mark.parametrize("dataset, expected", [
        (df, 89),
        (df.head(5), 4),
        (df.head(0), 0),
        (df.head(100), 46)
    ])
    def test_num_unique_ages(dataset, expected):
>     assert calc_num_unique_ages(dataset) == expected

<ipython-input-14-8ad746d1a232>:8:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =     PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2      ...  231919  23.0000      NaN        S
99      0            244367  26.0000      NaN        S

[100 rows x 12 columns]

    def calc_num_unique_ages(df):
      #YOUR CODE HERE
>     raise NotImplementedError("Need to implement calc_num_unique_ages()")
E     NotImplementedError: Need to implement calc_num_unique_ages()

<ipython-input-13-8544e645a55c>:3: NotImplementedError
____________________________ test_cabin_nulls_shape[dataset0-expected0] ____________________________

dataset =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]
expected = (687, 891)

    @pytest.mark.parametrize("dataset, expected", [
        (df, (687, 891)),
        (df.head(5), (3,5)),
        (df.head(0), (0, 0)),
    ])
    def test_cabin_nulls_shape(dataset, expected):
>     assert get_cabin_nulls_and_shape(dataset)[0] == expected[0]

<ipython-input-16-8774761a2438>:7:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    def get_cabin_nulls_and_shape(df):
      #YOUR CODE HERE
      """
      This function should return a tuple of the form (number of null values in Cabin column, how many rows in the dataframe)
      """
>     raise NotImplementedError("Need to implement get_cabin_nulls_and_shapes()")
E     NotImplementedError: Need to implement get_cabin_nulls_and_shapes()

<ipython-input-15-8840c0278300>:6: NotImplementedError
____________________________ test_cabin_nulls_shape[dataset1-expected1] ____________________________

dataset =    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2         ...aN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
expected = (3, 5)

    @pytest.mark.parametrize("dataset, expected", [
        (df, (687, 891)),
        (df.head(5), (3,5)),
        (df.head(0), (0, 0)),
    ])
    def test_cabin_nulls_shape(dataset, expected):
>     assert get_cabin_nulls_and_shape(dataset)[0] == expected[0]

<ipython-input-16-8774761a2438>:7:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df =    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2         ...aN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

    def get_cabin_nulls_and_shape(df):
      #YOUR CODE HERE
      """
      This function should return a tuple of the form (number of null values in Cabin column, how many rows in the dataframe)
      """
>     raise NotImplementedError("Need to implement get_cabin_nulls_and_shapes()")
E     NotImplementedError: Need to implement get_cabin_nulls_and_shapes()

<ipython-input-15-8840c0278300>:6: NotImplementedError
____________________________ test_cabin_nulls_shape[dataset2-expected2] ____________________________

dataset = Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []
expected = (0, 0)

    @pytest.mark.parametrize("dataset, expected", [
        (df, (687, 891)),
        (df.head(5), (3,5)),
        (df.head(0), (0, 0)),
    ])
    def test_cabin_nulls_shape(dataset, expected):
>     assert get_cabin_nulls_and_shape(dataset)[0] == expected[0]

<ipython-input-16-8774761a2438>:7:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

df = Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

    def get_cabin_nulls_and_shape(df):
      #YOUR CODE HERE
      """
      This function should return a tuple of the form (number of null values in Cabin column, how many rows in the dataframe)
      """
>     raise NotImplementedError("Need to implement get_cabin_nulls_and_shapes()")
E     NotImplementedError: Need to implement get_cabin_nulls_and_shapes()

<ipython-input-15-8840c0278300>:6: NotImplementedError
__________________________________ test_drop_cabin_col[dataset0] ___________________________________

dataset =      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2   ...       111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

    @pytest.mark.parametrize("dataset", [
        df,
        df.head(5),
        df.head(100),
        df.head(0)
    ])
    def test_drop_cabin_col(dataset):

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=282550a0-b371-4e1f-894f-81176ab33d44' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>